<ion-header no-border>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="login-container" class="m-20">
    <div>
      <div>
        <div class="title-container">
          <h2>Sign In</h2>
        </div>

        <div class="m-20">
          <form [formGroup]="loginForm">
            <ion-item class="mt-25">
              <ion-label stacked>
                Email
                <div class="validation-errors">
                  <div *ngFor="let validation of validation_messages.email">
                    <div class="error-message"
                      *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </ion-label>
              <ion-input type="email" formControlName="email" placeholder="mail@example.eg" [(ngModel)]="email">
              </ion-input>
            </ion-item>


            <ion-item class="mt-10">
              <ion-label stacked>
                Password
                <div class="validation-errors">
                  <div *ngFor="let validation of validation_messages.password">
                    <div class="error-message"
                      *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </div>
                </div>
              </ion-label>
              <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <button ion-button block round color="primary" class="btn-login bs-none mt-10" (click)="doLogin()"
              [disabled]="myFormValid == 'INVALID'">Sign
              In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>