page-login {
  .content-md,
  .content-ios {
    // background: map-get($colors, putih) !important;
    background: #fff !important;
  }
  .content-md,
  .content-ios {
    // background: map-get($colors, putih) !important;
    background: #fff !important;
  }

  ion-label {
    color: #999;
    padding: 8px !important;
    margin-top: 0px !important;
    font-size: 1.4rem !important;
  }

  .item-input ion-input,
  .item-input ion-textarea {
    background: #f7f7f7 !important;
    border-bottom: none !important;
    padding: 0px 10px !important;
    border-radius: 20px !important;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border: none !important;
  }

  .form-login {
    background: #fff !important;
    // opacity: 0.7 !important;
    padding: 20px !important;
  }

  .txt-strong {
    font-weight: bold;
    color: #000;
    font-size: 1.8rem;
  }

  ion-item {
    color: white !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: transparent !important;
    font-size: 0.9em;
  }

  ::-webkit-input-placeholder {
    color: #999 !important;
    font-size: 1.2rem;
  }

  .item-input ion-input,
  .item-input ion-textarea {
    position: static;
    color: #000 !important;
    font-size: 1.2rem;
    padding: 5px 20px !important;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.item-has-focus .item-inner,
  .item-ios.item-input.item-input-has-focus .item-inner,
  .item-ios.item-input.item-has-focus .item-inner {
    box-shadow: none !important;
  }

  .item-input-has-focus .label-md[stacked],
  .input-has-focus .label-md[stacked],
  .item-input-has-focus .label-md[floating],
  .input-has-focus .label-md[floating],
  .item-input-has-focus .label-ios[stacked],
  .input-has-focus .label-ios[stacked],
  .item-input-has-focus .label-ios[floating],
  .input-has-focus .label-ios[floating] {
    color: #000 !important;
    font-weight: bold;
  }

  .title-container h2 {
    padding: 0px 16px;
    font-weight: bold;
    text-align: center;
  }

  .btn-login {
    padding: 20px !important;
    width: 94%;
    display: block;
    margin: 0 auto;
    margin-top: 20px !important;
    background: map-get($colors, primary);
  }

  .error-message {
    font-size: 1rem;
    color: map-get($colors, danger);
  }
}
