<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button>
        <ion-icon name="md-contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Activities
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="signOut()">
        <ion-icon name="md-exit"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-item>
    <ion-input type="text" placeholder="I will..." [(ngModel)]="inputTodo" #input></ion-input>
    <button ion-button round color="primary" class="btn-save bs-none mt-10 ml-5"
      [disabled]="!inputTodo || inputTodo == ''" item-right (click)="addItem()">
      Save
    </button>
  </ion-item>
</ion-header>

<ion-content>
  <ion-list class="todo" class="mt-5">
    <ion-item *ngFor="let item of todo" class="mt-5" no-lines>
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="item.checked" (click)="check($event, item)"></ion-checkbox>
      <button ion-button clear item-right color="danger" (click)="removeItem(item)" *ngIf="item.checked">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-item>
    <button ion-button clear (click)="setFocus()" class="add-list" *ngIf="todo.length > 0">
        <ion-icon name="ios-add-circle-outline"></ion-icon> <span class="ml-5"> List Item</span>  
      </button>
  </ion-list>

  <div *ngIf="todo.length == 0" class="empty-state">
    <img src="assets/imgs/empty-state.png">
    <p>There is no activities yet</p>
    <button ion-button clear (click)="setFocus()">
      <ion-icon name="ios-add-circle-outline"></ion-icon>
    </button>
  </div>
</ion-content>

<ion-footer>
  <h2>
    Last Update {{time}}
  </h2>

</ion-footer>