page-home {
  ion-content {
    background-color: #f5f5f5 !important;
  }
  ion-icon {
    font-size: 2.4rem !important;
  }

  ion-footer {
    border-color: #fff;
    background: #fff;
  }
  ion-footer h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .item-md .btn-save.item-button {
    height: 30px !important;
    padding: 0 1em;
  }

  .empty-state img {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 8rem;
  }

  .empty-state p,
  .empty-state ion-icon {
    text-align: center;
    color: #a9a9a9;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .empty-state .button-clear-md {
    display: block;
    margin: 0 auto;
    font-size: 5rem;
  }

  .add-list.button-clear-md {
    border-color: transparent;
    color: #222;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
}
