@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

.content-md,
.content-ios,
.alert-md,
.alert-ios,
.alert-title,
.alert-md .alert-radio-label .alert-ios .alert-radio-label,
.alert-md .alert-button,
.alert-ios .alert-button .button-inner,
h2,
.action-sheet-title,
.button-inner,
.toolbar-title-md,
.toolbar-title-ios,
p,
span.button-inner {
  font-family: "Open Sans", sans-serif;
}

.toolbar-title-md {
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: 700;
}

.item-input ion-input,
.item-input ion-textarea {
  background: #f7f7f7 !important;
  border-bottom: none !important;
  padding: 0px 10px !important;
  border-radius: 20px !important;
}

.bs-none {
    box-shadow: none !important;
}

.mt-5 {
    margin-top: 5px !important;
}
.ml-5 {
    margin-left: 5px !important;
}

.clear {
    clear: both;
}